@mixin max-width-mobile{
  max-width: 425px;
}

// Modal

// Modal

.customModalContent{
  width: 100%;
  height: 100%;
  padding: 32px;
  background-color: white;
}

.cancelButtonModal {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  background: #E7EEFB;
}

.containerButtons{
  display: flex;
  flex-direction: column;
}


.modalContainer {
  width: 100%;
  height: 100%;
  margin: auto;
  @include max-width-mobile();
}
// Add Modal

  .input{
    width: 100%;
    height: 50px;
    padding: 16px;
    margin: 8px 0;
    border-radius: 8px ;
    border: 1px solid #D7DDE9;
    background-color: transparent;
    font-size: 16px;
  }
  
  .title {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 32px;
  }
  
  .subtitle{
      font-size: 16px;
      font-weight: 400;
  }
  
  .addButtonModal {
      width: 100%;
      height: 50px;
      margin: 16px 0;
      border-radius: 8px;
      border: none;
      font-size: 16px;
      color: white;
      background: linear-gradient(90deg, #0796D3 0%, #53C0F0 68.65%);
  }
  
// Delete modal

.deleteModalButton{
  width: 100%;
  height: 50px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  color: white;
  background: linear-gradient(90deg, #D30707 0%, #F05353 68.65%);

}

.textDelete {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}

  @media (min-width: 1024px) {

    .customModalContent{
      width: 450px;
      height: fit-content;
      margin: calc((50vh) - 143px) auto;
      padding: 32px;
      border-radius: 16px;
      background-color: white;
      box-shadow: 0px 24px 48px -12px #1018282E;
  }

  .containerButtons{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin: 16px 0;
  }

  .addButtonModal{
      width: 45%;
      margin: 0;
      cursor: pointer;
  }

  .cancelButtonModal{
      width: 45%;
      cursor: pointer;
  }

  .deleteModalButton{
      width: 45%;
      margin: 0;
      cursor: pointer;
  }
  }